@page "/editTripulacion/{id:int}"
@page "/editTripulacion"
@using AirTiquiciaAPP.Shared
@inject HttpClient Http
@inject NavigationManager navigationManager

@if (tripulacion == null)
{
<span>Cargando tripulaci&oacute;n...</span>
}
else
{
<h3>Mantenimiento de Tripulaci&oacute;n</h3>
    <EditForm Model="tripulacion" OnValidSubmit="CreaOActualizaTripulacion">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="Descripcion" class="col-sm-1 col-form-label">Descripci&oacute;n</label>
            <div class="col-sm-4">
                <InputText @bind-Value="tripulacion.Descripcion" class="form-control "></InputText>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            @if (tripulacion.IdTripulacion == 0)
            {
                <span class="icon fa-solid fa-plus-square"></span>
                @MensajeBoton;
            }
            else
            {
                <span class="icon fa-solid fa-pencil"></span> 
                @MensajeBoton;
            }


        </button>
    </EditForm>
}



@code {

    [Parameter]
    public int id { get; set; }

    Tripulacion tripulacion = new Tripulacion();
    private List<Tripulacion> tripulaciones = new List<Tripulacion>();
    private string MensajeBoton = " Crear Tripulante" ;

    protected override async Task OnInitializedAsync()
    {

            if (id != 0)
            {
                tripulaciones = await Http.GetFromJsonAsync<List<Tripulacion>>($"Tripulacion/{id}");
                tripulacion = tripulaciones.FirstOrDefault();
                MensajeBoton = " Editar Tripulante";
            }


    }

    private async void CreaOActualizaTripulacion()
    {
        HttpResponseMessage response;
        if (tripulacion.IdTripulacion == 0)
        {
            response = await Http.PostAsJsonAsync<Tripulacion>("Tripulacion", tripulacion);

            if (response.IsSuccessStatusCode)
            {
                navigationManager.NavigateTo($"tripulaciones");
            }
        }
        else
        {
            response = await Http.PutAsJsonAsync<Tripulacion>("Tripulacion", tripulacion);
            if (response.IsSuccessStatusCode)
            {
                navigationManager.NavigateTo($"tripulaciones");
            }
        }
    }
}
