@page "/datoPasajeroVuelo"
@using AirTiquiciaAPP.Shared
@using AirTiquiciaAPP.Shared.DTOs
@inject HttpClient Http
@layout MainPageLayout



<h3>Dato_Pasejero_vuelo</h3>
 <EditForm Model="pasajero">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group row">
                        <label for="Descripcion" class="col-sm-1 col-form-label">Nombre</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.Nombre" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Apellidos" class="col-sm-1 col-form-label">Apellidos</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.Apellidos" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Telefono" class="col-sm-1 col-form-label">Tel&eacute;fono</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.Telefono" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Direccion" class="col-sm-1 col-form-label">Direcci&oacute;n</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.Direccion" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Correo" class="col-sm-1 col-form-label">Correo</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.Correo" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cantidadEquipaje" class="col-sm-1 col-form-label">Cantidad Equipaje</label>
                        <div class="col-sm-4">
                            <InputNumber @bind-Value="pasajero.cantidadEquipaje" class="form-control"></InputNumber>
                        </div>
                    </div>
                      <div class="form-group row">
                        <label for="TipoPasajero" class="col-sm-1 col-form-label">Tipo Pasajero</label>
                        <div class="col-sm-4">
                            <InputText @bind-Value="pasajero.TipoPasajero" class="form-control"></InputText>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">

                            <span class="icon fa-solid fa-plus-square"></span>
                           Agregar Pasajero
                    </button>
                </EditForm>

@code {
    [Parameter]
    public Vuelo vuelo { get; set; }
    [Parameter]
    public int cantidadPasajero { get; set; }

    PasajeroVueloDTO pasajero = new PasajeroVueloDTO();
}
