@inherits LayoutComponentBase
<div class="page">
    <div class="main">        
        <div class="top-row px-4">
                    <a href="/login" class="sesion">
                        <span class="icon fa-solid fa-right-from-bracket" aria-hidden="true"></span> Iniciar Sesión
                    </a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

}
